body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper{
    width: 70%;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

.quesiton-contatiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.question-header{
    margin-bottom: 0;
}

.question-subheader{
    margin: 0;
    text-decoration: underline;
}

.question{
    font-size: 1.2em;
}

.answer-container{
    height: 100px;
    background-color: red;
}

.answer-button{
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
}